.header{
    display: flex;
    width: 100%;
    height: 150px;
   
}

.logo,.login {
    width: 50%;
    display: flex;
    justify-content: space-around;
}
.inscrire, .connexion, a{
    width: 25%;
    height: 20%;
    background-color: gray;
    font-size: 22px;
    text-align: center;
    text-justify: center;
    text-decoration: none;
    color: black;
}


.tableau{
    display: flex;
    justify-content: space-around;
    background-color: grey;
    height: 1000px;

}

#register_form{
    z-index: 100;
  display: none;
  background: #e2dddd;
  position: absolute;
  top: 15%;
  right: 32.5%;
  width: 35%;
  border: 3px solid #ecedee;
  border-radius: 20px;
  padding: 3%;
  background-color: grey;
}


.subscriber, .meetup1, .speaker{
   
}